
<ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-striped tabs-color-assertive" >
    <ion-tab title="介绍"  ui-sref="Details.intro" class="detail-tab">
        <ion-nav-view name="introView"></ion-nav-view>
    </ion-tab>

    <ion-tab title="详情"  ui-sref="Details.detail" class="detail-tab">
        <ion-nav-view name="detailView"></ion-nav-view>
    </ion-tab>

    <ion-tab title="实拍"  ui-sref="Details.real" class="detail-tab">
        <ion-nav-view name="realView"></ion-nav-view>
    </ion-tab>
</ion-tabs>